html, body {
  padding: 40 40 40 40;
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4 {
  padding: 1rem 0;
  color: #b60047;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #000;
}

pre code {
  font-family: Consolas,'courier new';
  color: #ebebeb;
  background-color: rgb(51, 51, 51);
  display: block;
  width:95vw;
  overflow-wrap: normal;
}

.code-special {
 color: teal;
 font-weight: bolder;
}

.code-comment {
  color: slategray;
}

.code-structure {
  color: olivedrab;
}

.code-function {
 color: rgb(255, 154, 0);
}

.plink {
  color: #000;
  display: inline;
}

.inline {
  display: inline;
}

a:hover {
  color: #b60047;
  text-decoration: none;
}

.left {
  max-width: 45vw;
  padding-right:5vw;
}

.right {
  padding-top:40vh;
}

.subbullet {
  list-style:inside;
  padding: 0px 2rem;
}

ul {
  list-style: circle inside;
  padding: 0px 4rem;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
  display: flex;
}

.header h1 {
  font-size: 50px;
  color: #b60047;
}

p {
  padding: 0px 40px 0px;
  line-height: 24px;
}

.block {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
  font-size: 16px;
  line-height: 24px;
}

.block {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
  font-size: 16px;
  line-height: 24px;
}

.imgcaption {
  text-align: center;
  font-size: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  float: left;
}

.final {
  font-size: 12px;
  line-height: 24px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 600px;
  overflow: hidden;
  float: left;
}

.assignment:hover { overflow:auto }

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #b60047;
  color: #b60047;
  text-decoration: none;
}

.final:hover { overflow:auto }

.final a {
  color: #000;
  text-decoration: none;
}

.final a:hover {
background: #b60047;
color: #b60047;
text-decoration: none;
}

.nav-bar {
  font-family: system-ui;
  font-size: medium;
  font-weight: bolder;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a:hover {
  color: #b60047;
  font-size:larger;
}

.footer {
    width: 100vw;
    float: left;
    padding: 1rem 0;
    margin-top: 1rem;
    background:#b60047;
    color: #FFF;
    text-align:center;
}

.footer a {
  color:#FFF;
  text-decoration:none;
}

.footer a:hover {
  color:#000;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #b60047;
  color: #FFF;
  text-decoration: none;
}